@import url(/src/components/no-margind.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.news__item {
    max-width: 400px;
}
.news__picture {
    padding: 10px 0;
    max-width: 400px;
    width: 100%;
}
.news__title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
}
.news__description {
    padding-top: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
}
.news_info__list {
    padding-top: 5px;
    display: flex;
    column-gap: 20px;
}

.news_info__item {
}
